* {
  margin: 0;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
  font-family: 'Poppins', sans-serif;
}

.contact-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  background: #FCFDFD;
}

.left {
  width: 45vw;
  height: 100%;
  background-image: url(img/pexels-pixmike-413195.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.right {
  background: #FCFDFD;
  width: 50vw;
  height: 100vh;
  padding: 5rem 3.5rem;
}


h1 {
  font-family: 'Poppins', sans-serif;
  color:#3F444C;
  font-size: 2.5rem;
  letter-spacing: 0.5rem;
  font-weight: 300;
}

p {
  color: #818386;
  font-size: 0.9rem;
  letter-spacing: 0.01rem;
  width: 40vw;
  margin: 0.25rem 0;
}

label {
  color: #818386;
  text-transform: uppercase;
  font-size: 0.625rem;
}

form {
  width: 31.25rem;
  position: relative;
  margin-top: 2rem;
  padding: 1rem 0;
}

input, textarea, label {
  width: 40vw;
  display: block;
}


input::placeholder, textarea::placeholder {
  color: #010712;
}

input, textarea {
  color: #010712;
  font-weight: 500;
  background: #FCFDFD;
  border: none;
  border-bottom: 1px solid #818386;
  padding: 0.5rem 0;
  margin-bottom: 1rem;
  outline: none;
}

textarea {
  resize: none;
}

button {
  text-transform: uppercase;
  font-weight: 300;
  background: #3B3636;
  color: #FCFDFD;
  width: 10rem;
  height: 2.25rem;
  border: none;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
}

input:hover, textarea:hover, button:hover {
  opacity: 0.5;
}

button:active {
  opacity: 0.8;
}



